footer{
    width: 100%;
    bottom: 0px;
}
.footer-container{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.cartoes{
    width: 100%;
    background-color: #008037;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.cartoes h2{
    font-size: 15px;
    font-weight: 400;
}
.cartoes img{
    width: 250px;
}

.contatenos{
    width: 100%;
    background-color: #037635;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.contatenos h2{
    font-size: 15px;
    font-weight: 400;
}
.contatenos img{
    width: 200px;
}

.rodape{
    background-color: #005424; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rodape p{
    color: #fff;
    font-size: 12px;
}